Repository Abdellah-Laassairi/optimalcv: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, no-console-log

Path conditions:
  pytest-check: any of: ^backend/
  no-console-log: any of: ^frontend/src/.*\.tsx?$

fix: ci
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: none

feat: light mode
  .pre-commit-config.yaml
  frontend/src/index.css
  frontend/src/pages/Api.tsx
Due: no-console-log

fix: project setup
  backend/QUICK_START.md
  backend/install_latex.sh
  backend/optimalcv/__init__.py
  backend/optimalcv/main.py
  backend/optimalcv/resources/cv-template.tex
  backend/optimalcv/resources/prompts.yaml
  backend/optimalcv/resources/template.tex
  backend/optimalcv/services/__init__.py
  backend/optimalcv/services/generator.py
  backend/optimalcv/services/parsers.py
  backend/optimalcv/services/pdf_generator.py
  backend/optimalcv/services/scraper.py
  backend/optimalcv/services/settings.py
  backend/pyproject.toml
  backend/run.sh
Due: pytest-check

ci: workflow release
  .github/workflows/ci.yml
Due: none

misc: files
  .nvmrc
  .secrets.baseline
  .vercelignore
  .yamllint.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  DEPLOY_QUICK_START.md
  LICENSE
  docker-compose.yml
  env.example
  mkdocs.yml
  start-all.sh
  vercel.json
Due: none

fix: depl
  .gitignore
  .pre-commit-config.yaml
  frontend/src/components/Settings.tsx
  frontend/src/components/TextArea.tsx
  frontend/src/pages/Generator.tsx
Due: no-console-log

fix: depl
  backend/optimalcv/main.py
Due: pytest-check
